.all{
   
    background-color: rgb(63, 159, 197);
    overflow: hidden;

    
}
nav{
 
   float: right;
  
   
   
}
body{
    margin: 0%;
}
nav,button{
    padding: 10px;
   color: blue;
   border-radius: 15px;
   border: white;
}
nav,input{
    padding: 10px;
    border-radius: 15px;
    border: white;
}
nav,button:active  {
    padding: 10px;
   color: rgb(0, 0, 0);
   border-radius: 15px;
   transform: translate(3px);
}
.vert
{
    background-color: rgb(120, 187, 120); 
    color: black;
     font-weight: bold;
}
.vert:hover
{
    background-color: rgb(97, 93, 93); 
    color: black;
     font-weight: bold;
}
.bleu{
    background-color: rgb(93, 93, 163); 
    color: rgb(255, 255, 255);
     font-weight: bold;
}
.bleu:hover{
    background-color: rgb(97, 93, 93); 
    color: rgb(255, 255, 255);
     font-weight: bold;
}
label{
    color: white;
}

 
